
/*Style card min question*/
.card-min-question{
    width: 90%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(36, 59, 123, 0.09);
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.card-min-question .card-min-img{
    margin-left: 10px;
    margin-top: 10px;
    flex: 20;
}

.card-min-question .card-text{
    flex: 70;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-min-question p.text{
    margin-top: 10px;
    width: 90%;
    box-sizing: border-box;
    color: rgba(87, 87, 87, 0.87);
}

.card-min-question .card-text h4{
    width: 100%;
    height: 20%;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #243B7B;
    box-sizing: border-box;
}

.card-min-question .card-min-classific{
    width: 250px;
    height: 80px;
    flex: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
}

.card-min-question .card-min-classific img{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-min-question .favorite-content {
    margin-left: 15px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-min-question .favorite-content span{
    font-style: normal;
    font-weight: 500;
    font-size: 12pt;
    color: #BCBCBC;
    padding-top: 5px;
}

.card-min-question .button-link{
    height: 35px;
    width: 130px;
    background-color: #243B7B;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    border: none;
    font-weight: 400;
    font-size: 14pt;
    line-height: 19px;
    text-align: center;
    color: #FFFEFE;
    margin-top: 15px;
    margin-bottom: 25px;
    outline: 0;
    padding-top: 8px;
}

.card-min-question .button-link:hover{
    background-color: #18295a;
}